@use '../../../styles/tokens' as t;

.button-check-answer {
  border: t.$md-sys-spacing-1 solid var(--md-sys-color-outline);
  padding: t.$md-sys-spacing-1 t.$md-sys-spacing-4;
  border-radius: t.$md-sys-shape-corner-value-medium;
  @include t.elevation(1);
  
  transition-property: transform, box-shadow;
  @include t.spatial('fast');

  display: flex;

  @media (max-width: 600px) {
    margin-left: auto;
    margin-right: t.$md-sys-spacing-8;
  }

  &:hover {
    transform: scale(1.05);
    @include t.elevation(2);
  }

  &:disabled {
    cursor: not-allowed;
    transform: scale(1);
  }
}
