@use '../../shared/styles/tokens' as t;

.search-bar {
  width: 100%;
  border: t.$md-sys-spacing-1 solid var(--md-sys-color-outline);
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);
  @include t.typescale('body-large');
  padding: t.$md-sys-spacing-3 t.$md-sys-spacing-4;
  border-radius: t.$md-sys-shape-corner-value-small;
  margin-bottom: t.$md-sys-spacing-6;

  transition-property: border-color, background-color;
  @include t.effects('fast');

  &::placeholder {
    color: var(--md-sys-color-on-surface-variant);
  }

  &:focus {
    outline: none;
    border-color: var(--md-sys-color-primary);
    background-color: var(--md-sys-color-surface-container);
  }
}
