@use '../../../shared/styles/tokens' as t;

.card-question {
  padding: t.$md-sys-spacing-10 0;

  &__question {
    @include t.typescale('headline-large');
    margin-bottom: t.$md-sys-spacing-3;
  }

  &__subtitle {
    @include t.typescale('body-large');
    font-style: italic;
    color: var(--md-sys-color-on-surface-variant);
    margin-bottom: t.$md-sys-spacing-3;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: t.$md-sys-spacing-4;
    margin-bottom: t.$md-sys-spacing-5;
  }

  &__option-wrapper {
    display: flex;
    align-items: center;
    gap: t.$md-sys-spacing-4;

    :hover {
      cursor: pointer;
    }

    input {
      transform: scale(1.8);
      accent-color: var(--md-sys-color-tertiary);
    }

    span {
      @include t.typescale('body-large');
    }
  }
}
