@use "config.scss" as conf;
@use "./tokens/" as t;

* {
  transition-property: background-color, color;
  @include t.effects("slow");
}

body.modalOpen {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.Container {
  margin-inline: auto;
  width: 100%;
  max-width: 1450px;
}

button,
a {
  cursor: pointer;

  // minimum btns size for accessibility
  min-width: t.$md-sys-spacing-12;
  min-height: t.$md-sys-spacing-12;

  &:focus-visible {
    outline: t.$md-sys-spacing-1 solid var(--md-sys-color-outline);
    outline-offset: t.$md-sys-spacing-1;
  }
}
